<div class="form-container bg-login">
  <div class="form-form">
    <div class="form-form-wrap">
      <div class="form-container">
        <div class="form-content">
          <h1 class="">
            Log In to <a href=""><span class="brand-name"> <br>DOKTER DIGITAL</span></a>
          </h1>
          <p class="signup-link">New Here? <a href="register">Create an account</a></p>
          <div class="text-left">
            <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate class="text-left">
              <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
                {{ error }}
              </div>
              <div id="email-field" class="field-wrapper input">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-user"
                >
                  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
                <input
                  id="email"
                  name="email"
                  type="text"
                  class="form-control"
                  formControlName="email"
                  autocomplete="email"
                  [placeholder]="'Email' | translate"
                />

                <span hidden translate>Email</span>
                <small
                  [hidden]="loginForm.controls.email.valid || loginForm.controls.email.untouched"
                  class="text-danger"
                  translate
                >
                  Email is required
                </small>
              </div>

              <div id="password-field" class="field-wrapper input mb-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-lock"
                >
                  <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                  <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                </svg>
                <input
                  id="password"
                  name="password"
                  type="password"
                  class="form-control"
                  formControlName="password"
                  autocomplete="current-password"
                  [placeholder]="'Password' | translate"
                  required
                />

                <span hidden translate>Password</span>
                <small
                  [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"
                  class="text-danger"
                  translate
                >
                  Password is required
                </small>
              </div>

              <div class="d-sm-flex justify-content-between">
                <div class="field-wrapper toggle-pass">
                  <p class="d-inline-block">Show Password</p>
                  <label class="switch s-primary">
                    <input type="checkbox" id="toggle-password" class="d-none" />
                    <span class="slider round"></span>
                  </label>
                </div>
                <div class="field-wrapper">
                  <button type="submit" [disabled]="loginForm.invalid || isLoading" class="btn btn-primary">
                    <span translate>Log In</span>
                  </button>
                </div>
              </div>

              <div class="field-wrapper text-center keep-logged-in">
                <div class="n-chk new-checkbox checkbox-outline-primary">
                  <label class="new-control new-checkbox checkbox-outline-primary">
                    <input type="checkbox" class="new-control-input" formControlName="remember" />
                    <span class="new-control-indicator" translate></span>Keep me logged in
                  </label>
                </div>
              </div>

              <div class="field-wrapper">
                <a href="#" class="forgot-pass-link">Forgot Password?</a>
              </div>
            </form>
          </div>
          <p class="terms-conditions">
            © 2020 All Rights Reserved. <a href="">Hai Admin</a> is a product of Hai Project.
            <a href="javascript:void(0);">Privacy</a>, and <a href="javascript:void(0);">Terms</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>